<!DOCTYPE html>
<html>
<head>	
    <script src="../bower_components/vss-web-extension-sdk/lib/VSS.SDK.min.js"></script>
    <script src="scripts/SayHello.js"></script>
</head>
<body>
<div class="widget">
    <h2 class="title">Widget title</h2>
	
	<div class="content">
		<p>Place your content here.</p>
		
		<a class="link-with-icon-text" href="http://bing.com" target="_blank">
			<span class="icon-container" style="background-color: #68217A"></span>
			<div class="title">
				Primary link text
				<div class="subtitle">Link subtext</div>
			</div>
		</a>		
	</div>
</div>
</body>
</html>