.form-inline {
    display: table;
    font-size: 14px;
}

.form-inline .form-pair {
    display: table-row;
}

.form-inline .form-key {
    display: table-cell;
    vertical-align: top;
    padding: 6px 16px 0px 10px;
    font-weight: bold
}

.form-inline .form-value {
    display: table-cell;
    padding-top: 6px;
}

.grid-caption {
	margin-left: 6px;
	font-family: "Segoe UI Light", "Segoe UI", sans-serif;
	font-size: 14px;
}